# PostgreSQL Database Connection URL (from Neon / Vercel Postgres / Supabase)
DATABASE_URL=postgresql://neondb_owner:npg_Ltm57uOXzHTn@ep-round-king-awppu6vb-pooler.c-12.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require
VITE_GEMINI_API_KEY="AIzaSyYourGeminiApiKeyHere"
