# PostgreSQL Database Connection URL (from Neon / Vercel Postgres / Supabase)
POSTGRES_URL="postgresql://neondb_owner:npg_Ltm57uOXzHTn@ep-round-king-awppu6vb-pooler.c-12.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Google Gemini API Key (for AI Image Generation)
VITE_GEMINI_API_KEY="AIzaSyYourGeminiApiKeyHere"
